<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.demo.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.warehouse.demo.po.RolesPo">
    <!--@mbg.generated-->
    <!--@Table ROLES-->
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ROLE_ID, ROLE_NAME
  </sql>
</mapper>